flows.json
[
    {
        "id": "6b207830.d5f498",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29b43727.971ee8",
        "type": "tab",
        "label": "플로우 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88eff46f.c5ccf8",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "58f09d12.2e25c4",
        "type": "ui_tab",
        "name": "ROBOT CLEANER",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf4796de.6a6798",
        "type": "ui_group",
        "name": "ROBOT CONTROLL",
        "tab": "58f09d12.2e25c4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9151f498.e7c928",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e8a808b5.4fcbe8",
        "type": "ui_group",
        "name": "ROBOT CAMERA",
        "tab": "58f09d12.2e25c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3872f2b2.9f5d4e",
        "type": "ui_group",
        "name": "ROBOT COUNT",
        "tab": "58f09d12.2e25c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4440dcc.62762",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cf4796de.6a6798",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "6da874ab.526ecc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cf4796de.6a6798",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ae89f46.ee8cf1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cf4796de.6a6798",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "52c4204b.b71be",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cf4796de.6a6798",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "75fff011.351ba",
        "type": "ui_group",
        "name": "ID2 TEMP",
        "tab": "6cccb618.1c2eb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d2ea409.1eae6c",
        "type": "ui_group",
        "name": "ID3 TEMP",
        "tab": "5f715c3e.68b3a4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cbbca69.789864",
        "type": "ui_group",
        "name": "ID5 TEMP",
        "tab": "ad056d5d.f2f08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1c8d97b.642fc68",
        "type": "ui_group",
        "name": "ID2 HUM",
        "tab": "6cccb618.1c2eb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43f91ed.93739e",
        "type": "ui_group",
        "name": "ID3 HUM",
        "tab": "5f715c3e.68b3a4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "40ec972.875b168",
        "type": "ui_group",
        "name": "ID3 PM10",
        "tab": "5f715c3e.68b3a4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8f4b223.e33f6",
        "type": "ui_group",
        "name": "ID3 PM2.5",
        "tab": "5f715c3e.68b3a4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0bcb5e.bceba48",
        "type": "ui_group",
        "name": "ID2 가스경보",
        "tab": "6cccb618.1c2eb8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc3b2ea6.23d72",
        "type": "ui_group",
        "name": "ID5 HUM",
        "tab": "ad056d5d.f2f08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cccb618.1c2eb8",
        "type": "ui_tab",
        "name": "ID2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f715c3e.68b3a4",
        "type": "ui_tab",
        "name": "ID3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad056d5d.f2f08",
        "type": "ui_tab",
        "name": "ID5",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c54b01.5fa865",
        "type": "mqtt-broker",
        "name": "",
        "broker": "cr5.iptime.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c426aa02.cc3738",
        "type": "ui_group",
        "name": "가스차단기",
        "tab": "6cccb618.1c2eb8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87f299e6.d26978",
        "type": "ui_group",
        "name": "공기청정기 제어",
        "tab": "5f715c3e.68b3a4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "97273dde.9673c",
        "type": "ui_group",
        "name": "가스센서",
        "tab": "6cccb618.1c2eb8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "329cec9f.4c9614",
        "type": "ui_group",
        "name": "RIGHT SW",
        "tab": "ad056d5d.f2f08",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4ba2559f.14936c",
        "type": "ui_group",
        "name": "ID 5 PM.2.5",
        "tab": "ad056d5d.f2f08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ca94034.9caa3",
        "type": "ui_group",
        "name": "ID 5 PM10 ",
        "tab": "ad056d5d.f2f08",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67be7cda.0e39f4",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "85b774a1.d74ce8",
        "type": "serial out",
        "z": "6b207830.d5f498",
        "name": "",
        "serial": "88eff46f.c5ccf8",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d1b51d5.36914e",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "전진",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"front\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "f9d258cd.ddfef8",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "후진",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"back\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "dfdf5e76.4c6b",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "좌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"left\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "9842917d.06c75",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "우",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"right\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "8a70679c.50a688",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"stop\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "89741469.508028",
        "type": "ui_template",
        "z": "6b207830.d5f498",
        "group": "e8a808b5.4fcbe8",
        "name": "ROBOT CAMERA",
        "order": 1,
        "width": 6,
        "height": 5,
        "format": "\n<img src=\"http://cr5.iptime.org:8843/stream/video.mjpeg\" />\n\n<!--\n<img src=\"http://rccar5.iptime.org:8809/stream/video.mjpeg\" />\n\n<!--\n<img src=\"http://192.168.244.4:8080/stream/video.mjpeg\" />\n-->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 110,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d3fff7f.8360e08",
        "type": "serial out",
        "z": "6b207830.d5f498",
        "name": "",
        "serial": "88eff46f.c5ccf8",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "3bf52eea.79ad62",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":1,\"countR\":1}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "ac76d135.cbc0c",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "20",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":20,\"countR\":20}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "1f692912.b5d117",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "30",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":30,\"countR\":30}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "17ae294a.4b6397",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "40",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":40,\"countR\":40}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "d11c08b.a591df8",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":50,\"countR\":50}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "7daff29.e2d250c",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "60",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":60,\"countR\":60}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 40,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "b9031b3e.f4c3b8",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "10",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":10,\"countR\":10}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "11cd26b.62d1dd9",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "80",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":80,\"countR\":80}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "30b63b21.bd82f4",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "70",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":70,\"countR\":70}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "3ca9f42b.d4c6ac",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "90",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":90,\"countR\":90}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "5c500e7d.ebeab",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "100",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":100,\"countR\":100}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "82a4ecbc.111f1",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":3,\"countR\":3}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "a557caad.f5b7b8",
        "type": "serial in",
        "z": "6b207830.d5f498",
        "name": "",
        "serial": "88eff46f.c5ccf8",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "76d4a41.4094c5c"
            ]
        ]
    },
    {
        "id": "76d4a41.4094c5c",
        "type": "debug",
        "z": "6b207830.d5f498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 480,
        "wires": []
    },
    {
        "id": "46464845.13ae88",
        "type": "mqtt in",
        "z": "29b43727.971ee8",
        "name": "",
        "topic": "/tinyhub/message",
        "qos": "0",
        "datatype": "auto",
        "broker": "4c54b01.5fa865",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "130a9f19.c9f441",
                "1207075a.38a5d9",
                "7fdedd3d.7cd4f4",
                "2ae2152c.72d10a"
            ]
        ]
    },
    {
        "id": "130a9f19.c9f441",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id2",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 2)\n{\n    if(data.temp)\n    {\n        msg.id2 = data;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 40,
        "wires": [
            [
                "94abfbbb.53daf8"
            ]
        ]
    },
    {
        "id": "11d7548a.257b8b",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "5808c8b6.51fbc8",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id2 DATA",
        "func": "var data = JSON.parse(msg.id2);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n    msg.stemp = data.soiltemp;\n    msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "11d7548a.257b8b",
                "2a09f5ce.2b376a",
                "7d5a108b.f085c",
                "41b50e66.87966",
                "a37b9876.b76468",
                "56ba072b.ea9bd8",
                "91eaaece.9fdd",
                "1d7f1763.3c76e9"
            ]
        ]
    },
    {
        "id": "94abfbbb.53daf8",
        "type": "json",
        "z": "29b43727.971ee8",
        "name": "",
        "property": "id2",
        "action": "str",
        "pretty": false,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "5808c8b6.51fbc8",
                "e4580322.92c85",
                "fd340752.1a1e88",
                "ee90fce8.f21ad",
                "44db144d.0948ac"
            ]
        ]
    },
    {
        "id": "2a09f5ce.2b376a",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 2 TEMP",
        "group": "75fff011.351ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "1207075a.38a5d9",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id3",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 3)\n{\n    if(data.temp)\n    {\n        msg.id3 = data;\n    }    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "38fb48e0.fabaf8"
            ]
        ]
    },
    {
        "id": "9aa71d45.b9408",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "89e0ac4d.e9922",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id3 data",
        "func": "var data = JSON.parse(msg.id3);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n    msg.pm2_5 = data.pm2_5;\n    msg.pm10 = data.pm10;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "9aa71d45.b9408",
                "d95bbcd0.a6a63",
                "9dd5c942.d7bdc8",
                "f837f048.b67b",
                "6061540b.a65e3c",
                "212fd5aa.bb302a",
                "f052590f.9f0e38",
                "e2742666.311058"
            ]
        ]
    },
    {
        "id": "38fb48e0.fabaf8",
        "type": "json",
        "z": "29b43727.971ee8",
        "name": "",
        "property": "id3",
        "action": "str",
        "pretty": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "89e0ac4d.e9922",
                "374a4e76.e01bf2",
                "81f48ab8.9bd458",
                "fa467fbd.c5204",
                "f5133624.a95b28",
                "40a4432a.5f1d6c"
            ]
        ]
    },
    {
        "id": "d95bbcd0.a6a63",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 3 TEMP",
        "group": "1d2ea409.1eae6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "7fdedd3d.7cd4f4",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id5",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 5)\n{\n    if(data.temp)\n    {\n        msg.id5 = data;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 820,
        "wires": [
            [
                "36e761f3.200ade"
            ]
        ]
    },
    {
        "id": "85b59c46.dba84",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "4a79e360.db442c",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "id5 temp",
        "func": "var data = JSON.parse(msg.id5);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n    msg.pm2_5 = data.pm2_5;\n    msg.pm10 = data.pm10;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "85b59c46.dba84",
                "e0b82e6.1c70dd",
                "a48bf844.297c28",
                "d1e851c9.40536",
                "e4637631.c21b08",
                "ac851195.a14e4",
                "f85dcb68.622288",
                "8240bd3d.79dbc"
            ]
        ]
    },
    {
        "id": "36e761f3.200ade",
        "type": "json",
        "z": "29b43727.971ee8",
        "name": "",
        "property": "id5",
        "action": "str",
        "pretty": false,
        "x": 400,
        "y": 820,
        "wires": [
            [
                "4a79e360.db442c",
                "2ad5249e.092b6c",
                "fd669286.be443",
                "489d5105.b0cd6",
                "b96e2bb3.4dbc48"
            ]
        ]
    },
    {
        "id": "e0b82e6.1c70dd",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 5 TEMP",
        "group": "5cbbca69.789864",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 740,
        "y": 860,
        "wires": []
    },
    {
        "id": "7d5a108b.f085c",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "41b50e66.87966",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 2 HUM",
        "group": "1c8d97b.642fc68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "%",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "9dd5c942.d7bdc8",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "f837f048.b67b",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 3 HUM",
        "group": "43f91ed.93739e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "C°",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "6061540b.a65e3c",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm10",
        "targetType": "msg",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "a37b9876.b76468",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "stemp",
        "targetType": "msg",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "56ba072b.ea9bd8",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "shum",
        "targetType": "msg",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "212fd5aa.bb302a",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm2_5",
        "targetType": "msg",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "f052590f.9f0e38",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 3 PM10",
        "group": "40ec972.875b168",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM10",
        "label": "㎍/m³",
        "format": "{{msg.pm10}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "80",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "e2742666.311058",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 3 PM2.5",
        "group": "b8f4b223.e33f6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "㎍/m³",
        "format": "{{msg.pm2_5}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "35",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "91eaaece.9fdd",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 2 SOILHUM",
        "group": "b0bcb5e.bceba48",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "가스경보",
        "label": "%",
        "format": "{{msg.shum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "a48bf844.297c28",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "d1e851c9.40536",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 5 HUM",
        "group": "fc3b2ea6.23d72",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "C°",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 730,
        "y": 940,
        "wires": []
    },
    {
        "id": "e4580322.92c85",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID2TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "b067870b.ff3678"
            ]
        ]
    },
    {
        "id": "b067870b.ff3678",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "75fff011.351ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fd340752.1a1e88",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID2HUM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "9fc833a5.9762a"
            ]
        ]
    },
    {
        "id": "9fc833a5.9762a",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "1c8d97b.642fc68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "44db144d.0948ac",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "가스경보",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.soilhum >= 50)\n    {\n        msg.topic = \"/tinyhub/command/2\";\n        msg.payload = {\"id\":\"2\",\"relay\":\"1\",\"sel\":\"0\"};\n    }\n    \n    else if(data.soilhum <= 10)\n    {\n        msg.topic = \"/tinyhub/command/2\";\n        msg.payload = {\"id\":\"2\",\"relay\":\"1\",\"sel\":\"1\"};\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "883f59b0.8271a8"
            ]
        ]
    },
    {
        "id": "ee90fce8.f21ad",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "가스센서",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.soiltemp)\n    {\n        msg.topic = \"ID2SOILTEMP\"\n        msg.payload = data.soiltemp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "b304a0df.d9e5b"
            ]
        ]
    },
    {
        "id": "374a4e76.e01bf2",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID3TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "eab04e7e.6c2a8"
            ]
        ]
    },
    {
        "id": "eab04e7e.6c2a8",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "1d2ea409.1eae6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "81f48ab8.9bd458",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID3UM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "66a8f81c.7169b8"
            ]
        ]
    },
    {
        "id": "66a8f81c.7169b8",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "43f91ed.93739e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f5133624.a95b28",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "PM10",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.pm10)\n    {\n        msg.topic = \"ID3PM10\"\n        msg.payload = data.pm10;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "d18ae884.9153c8"
            ]
        ]
    },
    {
        "id": "d18ae884.9153c8",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "40ec972.875b168",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "fa467fbd.c5204",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "PM2.5",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.pm2_5)\n    {\n        msg.topic = \"ID3PM2.5\"\n        msg.payload = data.pm2_5;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n    \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "9e09696b.edcda8"
            ]
        ]
    },
    {
        "id": "9e09696b.edcda8",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "b8f4b223.e33f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2ad5249e.092b6c",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID5TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 880,
        "wires": [
            [
                "94ee3c40.cf696"
            ]
        ]
    },
    {
        "id": "94ee3c40.cf696",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "5cbbca69.789864",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "fd669286.be443",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID5UM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 920,
        "wires": [
            [
                "bee539af.1c61e8"
            ]
        ]
    },
    {
        "id": "bee539af.1c61e8",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "fc3b2ea6.23d72",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae2152c.72d10a",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "878a9d59.bae43",
        "type": "mqtt in",
        "z": "29b43727.971ee8",
        "name": "",
        "topic": "/tinyhub/message",
        "qos": "2",
        "datatype": "auto",
        "broker": "4c54b01.5fa865",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "2ae2152c.72d10a"
            ]
        ]
    },
    {
        "id": "d820a0dd.ac148",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIDAR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"lidar\":\"1\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "ea3fe3f7.879",
        "type": "ui_switch",
        "z": "29b43727.971ee8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "c426aa02.cc3738",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/2",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"id\":\"2\",\"relay\":\"1\",\"sel\":\"0\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"2\",\"relay\":\"1\",\"sel\":\"1\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "883f59b0.8271a8"
            ]
        ]
    },
    {
        "id": "883f59b0.8271a8",
        "type": "mqtt out",
        "z": "29b43727.971ee8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4c54b01.5fa865",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8a4c485.0354d8",
        "type": "ui_switch",
        "z": "29b43727.971ee8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "87f299e6.d26978",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/3",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"id\":\"3\",\"relay\":\"1\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"3\",\"relay\":\"1\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "27406399.33966c"
            ]
        ]
    },
    {
        "id": "27406399.33966c",
        "type": "mqtt out",
        "z": "29b43727.971ee8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4c54b01.5fa865",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "b304a0df.d9e5b",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "97273dde.9673c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "가스센서",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7f1763.3c76e9",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "97273dde.9673c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "가스센서",
        "label": "units",
        "format": "{{msg.stemp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "f3a78e83.26b4b",
        "type": "ui_switch",
        "z": "29b43727.971ee8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "329cec9f.4c9614",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/5",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"id\":\"5\",\"relay\":\"1\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"5\",\"relay\":\"1\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "12495cdf.fd7fc3"
            ]
        ]
    },
    {
        "id": "12495cdf.fd7fc3",
        "type": "mqtt out",
        "z": "29b43727.971ee8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4c54b01.5fa865",
        "x": 481,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b96e2bb3.4dbc48",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "PM10",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.pm10)\n    {\n        msg.topic = \"ID5PM10\"\n        msg.payload = data.pm10;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "738faa83.21f4f4"
            ]
        ]
    },
    {
        "id": "738faa83.21f4f4",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "8ca94034.9caa3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 460,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "489d5105.b0cd6",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "PM2.5",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.pm2_5)\n    {\n        msg.topic = \"ID5PM2.5\"\n        msg.payload = data.pm2_5;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 960,
        "wires": [
            [
                "4edfc80.f946c38"
            ]
        ]
    },
    {
        "id": "4edfc80.f946c38",
        "type": "ui_chart",
        "z": "29b43727.971ee8",
        "name": "",
        "group": "4ba2559f.14936c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 460,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f85dcb68.622288",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm10",
        "targetType": "msg",
        "x": 740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e4637631.c21b08",
        "type": "debug",
        "z": "29b43727.971ee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm2_5",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 980,
        "wires": []
    },
    {
        "id": "8240bd3d.79dbc",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 5 PM10",
        "group": "8ca94034.9caa3",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM10",
        "label": "㎍/m³",
        "format": "{{msg.pm10}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "80",
        "x": 740,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ac851195.a14e4",
        "type": "ui_gauge",
        "z": "29b43727.971ee8",
        "name": "ID 5 PM2.5",
        "group": "4ba2559f.14936c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "㎍/m³",
        "format": "{{msg.pm2_5}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "35",
        "x": 740,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9eed27ea.9b3da8",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "350",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":350,\"countR\":350}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "cff94a6a.a7da28",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "300",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":300,\"countR\":300}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "31a21ec2.3b15d2",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "3872f2b2.9f5d4e",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "200",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"num\",\"countL\":200,\"countR\":200}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "d3fff7f.8360e08"
            ]
        ]
    },
    {
        "id": "40a4432a.5f1d6c",
        "type": "function",
        "z": "29b43727.971ee8",
        "name": "",
        "func": "var data = JSON.parse(msg.id3);\n\nif(data.pm2_5 > 35)\n{\n    msg.topic = \"/tinyhub/command/3\";\n    msg.payload = {\"id\":\"3\",\"relay\":\"1\",\"sel\":\"1\"};\n}\n        \nelse if(data.pm2_5 < 15)\n{\n    msg.topic = \"/tinyhub/command/3\";\n    msg.payload = {\"id\":\"3\",\"relay\":\"1\",\"sel\":\"0\"};\n}\n\nelse\n{\n    msg.topic = \"\";\n    msg.payload = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "27406399.33966c"
            ]
        ]
    },
    {
        "id": "35abd950.0b22d6",
        "type": "ui_button",
        "z": "6b207830.d5f498",
        "name": "",
        "group": "cf4796de.6a6798",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"start\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "85b774a1.d74ce8"
            ]
        ]
    },
    {
        "id": "7532f9bd.0a0f98",
        "type": "serial in",
        "z": "6b207830.d5f498",
        "name": "",
        "serial": "67be7cda.0e39f4",
        "x": 90,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e115bcb.fbf614",
        "type": "debug",
        "z": "6b207830.d5f498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 440,
        "wires": []
    }
]