Node RED CODE/flows.json
[
    {
        "id": "6ab85b2.8b4b4a4",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "e448e055.5fe3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5437990f.fe68a8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af91fd97.efa0c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "766e0d29.a3c4f4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "cr5.iptime.org",
        "port": "1883",
        "tls": "",
        "clientid": "master",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6cccb618.1c2eb8",
        "type": "ui_tab",
        "z": "",
        "name": "ID2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75fff011.351ba",
        "type": "ui_group",
        "z": "",
        "name": "ID2 TEMP",
        "tab": "6cccb618.1c2eb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d2ea409.1eae6c",
        "type": "ui_group",
        "z": "",
        "name": "ID3 TEMP",
        "tab": "5f715c3e.68b3a4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cbbca69.789864",
        "type": "ui_group",
        "z": "",
        "name": "ID5 TEMP",
        "tab": "ad056d5d.f2f08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f715c3e.68b3a4",
        "type": "ui_tab",
        "z": "",
        "name": "ID3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad056d5d.f2f08",
        "type": "ui_tab",
        "z": "",
        "name": "ID5",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43f91ed.93739e",
        "type": "ui_group",
        "z": "",
        "name": "ID3 HUM",
        "tab": "5f715c3e.68b3a4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8f4b223.e33f6",
        "type": "ui_group",
        "z": "",
        "name": "ID3 PM2.5",
        "tab": "5f715c3e.68b3a4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "40ec972.875b168",
        "type": "ui_group",
        "z": "",
        "name": "ID3 PM10",
        "tab": "5f715c3e.68b3a4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1c8d97b.642fc68",
        "type": "ui_group",
        "z": "",
        "name": "ID2 HUM",
        "tab": "6cccb618.1c2eb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a420bb44.293298",
        "type": "ui_group",
        "z": "",
        "name": "ID2 SOILTEMP",
        "tab": "6cccb618.1c2eb8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0bcb5e.bceba48",
        "type": "ui_group",
        "z": "",
        "name": "ID2 SOILHUM",
        "tab": "6cccb618.1c2eb8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc3b2ea6.23d72",
        "type": "ui_group",
        "z": "",
        "name": "ID5 HUM",
        "tab": "ad056d5d.f2f08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5849015f.6a28",
        "type": "mui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "m-base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "m-page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "m-group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "m-widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "m-widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7d4b0a28.523c74",
        "type": "mui_tab",
        "z": "",
        "name": "CONTROL",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3edafa38.72eca6",
        "type": "mui_group",
        "z": "",
        "name": "ID 2",
        "tab": "7d4b0a28.523c74",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e64a9b4b.d04a98",
        "type": "mui_group",
        "z": "",
        "name": "ID 3",
        "tab": "7d4b0a28.523c74",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "feb6f44c.4f3b88",
        "type": "mui_group",
        "z": "",
        "name": "ID 5",
        "tab": "7d4b0a28.523c74",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd401f8b.9bb97",
        "type": "mui_group",
        "z": "",
        "name": "ID 7",
        "tab": "7d4b0a28.523c74",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a94a9e63.465e",
        "type": "mui_group",
        "z": "",
        "name": "TV제어",
        "tab": "7d4b0a28.523c74",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f64c77c.b153e8",
        "type": "mui_group",
        "z": "",
        "name": "에어컨제어",
        "tab": "7d4b0a28.523c74",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c292570d.3a8ac8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "adebf1c1.f4e04",
        "type": "mui_tab",
        "z": "",
        "name": "ROBOT CREANER",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82b2d57c.6f1948",
        "type": "mui_group",
        "z": "",
        "name": "ROBOT CONTROLL",
        "tab": "adebf1c1.f4e04",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ccecea.c12bf3",
        "type": "mui_link",
        "z": "",
        "name": "SENSOR",
        "link": "http://cr5.iptime.org:1828/ui",
        "icon": "dashboard",
        "target": "iframe",
        "order": 1
    },
    {
        "id": "1ac256c2.dcb349",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4ba396ea.e79f48",
        "type": "mui_group",
        "z": "",
        "name": "ROBOT CAMERA",
        "tab": "adebf1c1.f4e04",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7bacfeb1.385c7",
        "type": "mqtt in",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "topic": "/tinyhub/message",
        "qos": "0",
        "datatype": "auto",
        "broker": "766e0d29.a3c4f4",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "30dd812d.31896e",
                "d971373d.c14408",
                "e44c0bbe.a08a98"
            ]
        ]
    },
    {
        "id": "30dd812d.31896e",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id2",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 2)\n{\n    if(data.temp)\n    {\n        msg.id2 = data;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "d2488735.3027f8"
            ]
        ]
    },
    {
        "id": "a64a57da.cfd188",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "ee83ccf0.3a1ef",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id2 DATA",
        "func": "var data = JSON.parse(msg.id2);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n    msg.stemp = data.soiltemp;\n    msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 40,
        "wires": [
            [
                "a64a57da.cfd188",
                "95f4c952.e944b8",
                "17f8539.a6ba0ac",
                "fbd04d77.72fa7",
                "d88076a4.02bd68",
                "4fe5f81c.c0e208",
                "83c4637b.100a",
                "4790642c.e9630c"
            ]
        ]
    },
    {
        "id": "d2488735.3027f8",
        "type": "json",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "property": "id2",
        "action": "str",
        "pretty": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "ee83ccf0.3a1ef",
                "af2e077f.1d92d8",
                "e1ef30b3.aa752",
                "1289c71d.ea1d29",
                "6ed4c5c0.7b98bc"
            ]
        ]
    },
    {
        "id": "95f4c952.e944b8",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 2 TEMP",
        "group": "75fff011.351ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "d971373d.c14408",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id3",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 3)\n{\n    if(data.temp)\n    {\n        msg.id3 = data;\n    }    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "febf78e7.d4f5a8"
            ]
        ]
    },
    {
        "id": "6bafbe4e.e91ce",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "e6f95aa8.681bf8",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id3 data",
        "func": "var data = JSON.parse(msg.id3);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n    msg.pm2_5 = data.pm2_5;\n    msg.pm10 = data.pm10;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "6bafbe4e.e91ce",
                "c5b105bc.28a6c8",
                "b470cc9e.0a82a",
                "100066c0.3180e9",
                "996dca7a.a0f6f8",
                "3a44475b.08c038",
                "ecc1cd32.d3cf8",
                "d24c5609.c121d8"
            ]
        ]
    },
    {
        "id": "febf78e7.d4f5a8",
        "type": "json",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "property": "id3",
        "action": "str",
        "pretty": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "e6f95aa8.681bf8",
                "8ce25694.76d2e8",
                "2977359.67154ca",
                "5ced04a7.e0525c",
                "5348b8d0.340b28"
            ]
        ]
    },
    {
        "id": "c5b105bc.28a6c8",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 3 TEMP",
        "group": "1d2ea409.1eae6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "e44c0bbe.a08a98",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id5",
        "func": "var data = JSON.parse(msg.payload);\n\nif(data.id == 5)\n{\n    if(data.temp)\n    {\n        msg.id5 = data;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 740,
        "wires": [
            [
                "dc335a6e.ac4598"
            ]
        ]
    },
    {
        "id": "fba5efb4.b63cf",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temp",
        "targetType": "msg",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "10d2fc1f.655cb4",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "id5 temp",
        "func": "var data = JSON.parse(msg.id5);\n\n    msg.temp = data.temp;\n    msg.hum = data.hum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 740,
        "wires": [
            [
                "fba5efb4.b63cf",
                "41188d1c.b181c4",
                "dab0ac3d.eee1f",
                "920cce1e.c6848"
            ]
        ]
    },
    {
        "id": "dc335a6e.ac4598",
        "type": "json",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "property": "id5",
        "action": "str",
        "pretty": false,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "10d2fc1f.655cb4",
                "39fb111e.d55f3e",
                "9498c197.0caf7"
            ]
        ]
    },
    {
        "id": "41188d1c.b181c4",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 5 TEMP",
        "group": "5cbbca69.789864",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "C°",
        "format": "{{msg.temp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 690,
        "y": 780,
        "wires": []
    },
    {
        "id": "17f8539.a6ba0ac",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "fbd04d77.72fa7",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 2 HUM",
        "group": "1c8d97b.642fc68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "%",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "b470cc9e.0a82a",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "100066c0.3180e9",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 3 HUM",
        "group": "43f91ed.93739e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "C°",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "996dca7a.a0f6f8",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm10",
        "targetType": "msg",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "d88076a4.02bd68",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "stemp",
        "targetType": "msg",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "4fe5f81c.c0e208",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "shum",
        "targetType": "msg",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "3a44475b.08c038",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pm2_5",
        "targetType": "msg",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "ecc1cd32.d3cf8",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 3 PM10",
        "group": "40ec972.875b168",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM10",
        "label": "㎍/m³",
        "format": "{{msg.pm10}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "80",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "d24c5609.c121d8",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 3 PM2.5",
        "group": "b8f4b223.e33f6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "㎍/m³",
        "format": "{{msg.pm2_5}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "35",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "83c4637b.100a",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 2 SOILTEMP",
        "group": "a420bb44.293298",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SoilTemp",
        "label": "C°",
        "format": "{{msg.stemp}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "4790642c.e9630c",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 2 SOILHUM",
        "group": "b0bcb5e.bceba48",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SOILHum",
        "label": "%",
        "format": "{{msg.shum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "dab0ac3d.eee1f",
        "type": "debug",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hum",
        "targetType": "msg",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "920cce1e.c6848",
        "type": "ui_gauge",
        "z": "6ab85b2.8b4b4a4",
        "name": "ID 5 HUM",
        "group": "fc3b2ea6.23d72",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum",
        "label": "C°",
        "format": "{{msg.hum}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 680,
        "y": 860,
        "wires": []
    },
    {
        "id": "5f1b882f.f08158",
        "type": "mqtt out",
        "z": "e448e055.5fe3",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "766e0d29.a3c4f4",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "deec3c28.174cd",
        "type": "mui_switch",
        "z": "e448e055.5fe3",
        "name": "",
        "label": "MOTOR",
        "tooltip": "",
        "group": "3edafa38.72eca6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/2",
        "style": "",
        "onvalue": "{\"id\":\"2\",\"relay\":\"1\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"2\",\"relay\":\"1\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "5f1b882f.f08158"
            ]
        ]
    },
    {
        "id": "c0895083.3cbf3",
        "type": "mui_switch",
        "z": "e448e055.5fe3",
        "name": "",
        "label": "LEDBAR",
        "tooltip": "",
        "group": "3edafa38.72eca6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/2",
        "style": "",
        "onvalue": "{\"id\":\"2\",\"relay\":\"5\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"2\",\"relay\":\"5\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "5f1b882f.f08158"
            ]
        ]
    },
    {
        "id": "50c1189d.f83558",
        "type": "mui_switch",
        "z": "e448e055.5fe3",
        "name": "",
        "label": "AIR CLEANER",
        "tooltip": "",
        "group": "e64a9b4b.d04a98",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/3",
        "style": "",
        "onvalue": "{\"id\":\"3\",\"relay\":\"1\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"3\",\"relay\":\"1\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "5f1b882f.f08158"
            ]
        ]
    },
    {
        "id": "408977a2.426598",
        "type": "mui_switch",
        "z": "e448e055.5fe3",
        "name": "",
        "label": "AIR CLEANER",
        "tooltip": "",
        "group": "feb6f44c.4f3b88",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/tinyhub/command/5",
        "style": "",
        "onvalue": "{\"id\":\"5\",\"relay\":\"1\",\"sel\":\"1\"}",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"id\":\"5\",\"relay\":\"1\",\"sel\":\"0\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "5f1b882f.f08158"
            ]
        ]
    },
    {
        "id": "af2e077f.1d92d8",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID2TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "170759f2.29b646"
            ]
        ]
    },
    {
        "id": "170759f2.29b646",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "75fff011.351ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e1ef30b3.aa752",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID2HUM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "50ce9b4c.fc43e4"
            ]
        ]
    },
    {
        "id": "50ce9b4c.fc43e4",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "1c8d97b.642fc68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed4c5c0.7b98bc",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "SOILHUM",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.soilhum)\n    {\n        msg.topic = \"ID2SOILHUM\"\n        msg.payload = data.soilhum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "f2231f98.8099d"
            ]
        ]
    },
    {
        "id": "f2231f98.8099d",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "b0bcb5e.bceba48",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "SOILHUM",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1289c71d.ea1d29",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "SOILTEMP",
        "func": "var data = JSON.parse(msg.id2);\n\n    if(data.soiltemp)\n    {\n        msg.topic = \"ID2SOILTEMP\"\n        msg.payload = data.soiltemp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d46a2869.ac9748"
            ]
        ]
    },
    {
        "id": "d46a2869.ac9748",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "a420bb44.293298",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "SOILTEMP",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8ce25694.76d2e8",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID3TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "2241a4f6.71ab2c"
            ]
        ]
    },
    {
        "id": "2241a4f6.71ab2c",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "1d2ea409.1eae6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2977359.67154ca",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID3UM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "361c782e.5f6358"
            ]
        ]
    },
    {
        "id": "361c782e.5f6358",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "43f91ed.93739e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5348b8d0.340b28",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "SOILHUM",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.pm10)\n    {\n        msg.topic = \"ID3PM10\"\n        msg.payload = data.pm10;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "5c3b2473.83712c"
            ]
        ]
    },
    {
        "id": "5c3b2473.83712c",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "40ec972.875b168",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5ced04a7.e0525c",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "PM2.5",
        "func": "var data = JSON.parse(msg.id3);\n\n    if(data.pm2_5)\n    {\n        msg.topic = \"ID3PM2.5\"\n        msg.payload = data.pm2_5;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "ea11e3d5.a5751"
            ]
        ]
    },
    {
        "id": "ea11e3d5.a5751",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "b8f4b223.e33f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "39fb111e.d55f3e",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "TEMP",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.temp)\n    {\n        msg.topic = \"ID5TEMP\"\n        msg.payload = data.temp;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "66335b6c.4d4d54"
            ]
        ]
    },
    {
        "id": "66335b6c.4d4d54",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "5cbbca69.789864",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9498c197.0caf7",
        "type": "function",
        "z": "6ab85b2.8b4b4a4",
        "name": "HUM",
        "func": "var data = JSON.parse(msg.id5);\n\n    if(data.hum)\n    {\n        msg.topic = \"ID5UM\"\n        msg.payload = data.hum;\n    }\n    //msg.hum = data.hum;\n    //msg.stemp = data.soiltemp;\n    //msg.shum = data.soilhum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 840,
        "wires": [
            [
                "b7557c8c.45e88"
            ]
        ]
    },
    {
        "id": "b7557c8c.45e88",
        "type": "ui_chart",
        "z": "6ab85b2.8b4b4a4",
        "name": "",
        "group": "fc3b2ea6.23d72",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f84dc8.a3c9e",
        "type": "mui_button",
        "z": "e448e055.5fe3",
        "name": "",
        "group": "dd401f8b.9bb97",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DOG BAB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"id\":\"7\",\"relay\":\"1\",\"sel\":\"1\"}",
        "payloadType": "str",
        "topic": "/tinyhub/command/7",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "5f1b882f.f08158"
            ]
        ]
    },
    {
        "id": "d906d085.397db",
        "type": "mui_button",
        "z": "e448e055.5fe3",
        "name": "",
        "group": "a94a9e63.465e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "TV ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "AK",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "44366fd4.06792"
            ]
        ]
    },
    {
        "id": "48eaadfd.823314",
        "type": "mui_button",
        "z": "e448e055.5fe3",
        "name": "",
        "group": "a94a9e63.465e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "TV OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "SK",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "44366fd4.06792"
            ]
        ]
    },
    {
        "id": "6fb2cbfd.4e49f4",
        "type": "mui_button",
        "z": "e448e055.5fe3",
        "name": "",
        "group": "9f64c77c.b153e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "에어컨 ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "DDK",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "44366fd4.06792"
            ]
        ]
    },
    {
        "id": "f47131a6.5e16f",
        "type": "mui_button",
        "z": "e448e055.5fe3",
        "name": "",
        "group": "9f64c77c.b153e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "에어컨 OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "FFK",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "44366fd4.06792"
            ]
        ]
    },
    {
        "id": "44366fd4.06792",
        "type": "serial out",
        "z": "e448e055.5fe3",
        "name": "",
        "serial": "1ac256c2.dcb349",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "a745b504.2e79e8",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "전진",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"front\",\"countL\":2,\"countR\":2}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 20,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "54e41423.c7c75c",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5564a94e.357ea8",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "후진",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"back\",\"countL\":-2,\"countR\":-2}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 60,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "31396262.42864e",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "좌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"left\",\"countL\":-2,\"countR\":2}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "352538a3.bc5e18",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "우",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"right\",\"countL\":2,\"countR\":-2}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "c98e919b.5c042",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "청소시작",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"cleaning\",\"countL\":20,\"countR\":20}",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "bc3068e7.f22138",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"stop\",\"countL\":0,\"countR\":0}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "4ec75bfb.bb6624",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e9168237.da7a",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "287434b.ab0b5cc",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0e71b6.b3ff9e",
        "type": "serial out",
        "z": "5437990f.fe68a8",
        "name": "",
        "serial": "c292570d.3a8ac8",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "84069a4b.bdf218",
        "type": "serial in",
        "z": "5437990f.fe68a8",
        "name": "",
        "serial": "c292570d.3a8ac8",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "3019bcc7.fe9844",
                "23562014.b2722"
            ]
        ]
    },
    {
        "id": "3019bcc7.fe9844",
        "type": "mui_text",
        "z": "5437990f.fe68a8",
        "group": "82b2d57c.6f1948",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "결과값",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "83e23b29.c2b9e8",
        "type": "mui_template",
        "z": "5437990f.fe68a8",
        "group": "4ba396ea.e79f48",
        "name": "",
        "order": 11,
        "width": "6",
        "height": "5",
        "format": "<img src=\"http://cr5.iptime.org:8800/stream/video.mjpeg\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 320,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "23562014.b2722",
        "type": "debug",
        "z": "5437990f.fe68a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "de1699c.715f068",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "1분",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"stop\",\"countL\":0,\"countR\":0}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "eb56aae5.ba3ee8"
            ]
        ]
    },
    {
        "id": "71b8b4e5.cbd38c",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "10분",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"stop\",\"countL\":0,\"countR\":0}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "81b8650f.610e78"
            ]
        ]
    },
    {
        "id": "4203c07d.7242a",
        "type": "mui_button",
        "z": "5437990f.fe68a8",
        "name": "",
        "group": "82b2d57c.6f1948",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "30분",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"stop\",\"countL\":0,\"countR\":0}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "8cd0d663.323b98"
            ]
        ]
    },
    {
        "id": "eb56aae5.ba3ee8",
        "type": "delay",
        "z": "5437990f.fe68a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "81b8650f.610e78",
        "type": "delay",
        "z": "5437990f.fe68a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    },
    {
        "id": "8cd0d663.323b98",
        "type": "delay",
        "z": "5437990f.fe68a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "1b0e71b6.b3ff9e"
            ]
        ]
    }
]